* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1600px;

	font-family: "Verdana";

}

h2 {
	color:747704;
}

.header{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	}
.logo{
	text-align: left;
}

.header_text{
	text-align: right;
}


.footer{
	display: -webkit-flex;
	display: flex;

	flex-wrap: wrap;
}

.text_box{

	margin: 10px;
	text-align: center;
	max-width: 420px;

	}



